<!-- Navigation -->
<div id="page-top" class="index">
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="#page-top">QA Community</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#portfolio">Projects</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#team">Coordinators</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#meeting">Next Meeting</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#sponsors">Sponsors</a>
                    </li>
                    <li class="page-scroll">
                        <a href="https://github.com/BarcelonaQACommunity" target="_blank">Github</a>
                    </li>
                    <li class="page-scroll">
                        <a href="https://www.meetup.com/es-ES/Barcelona-QA-Meetup/" target="_blank">Meetup</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="images/home_qa_icon.png" alt="">
                    <div class="intro-text">
                        <span class="name">Barcelona QA Community</span>
                        <hr>
                        <span class="skills">Barcelona Community for software testers to learn and improve QA skills together</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Projects</h2>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 portfolio-item">
                    <a href="#seleniumBasicModal" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img style="align-content: center" src="images/projects/seleniumlogo.png" class="img-responsive" alt="">
                    </a>
                    <div>
                        <p align="center">Selenium WebDriver basic training </p>
                    </div>
                </div>
                <div class="col-sm-3 portfolio-item">
                    <a href="#pythonDojoBasicModal" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img style="align-content: center" src="images/projects/pythonlogo.jpg" class="img-responsive" alt="">
                    </a>
                    <div>
                        <p align="center">Robot Framework basic training </p>
                    </div>
                </div>
                <div class="col-sm-3 portfolio-item">
                    <a href="#appiumModal" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img style="align-content: center" src="images/projects/appiumLogo.png" class="img-responsive" alt="">
                    </a>
                    <div>
                        <p align="center">Appium architecture with Cloud Testing </p>
                    </div>
                </div>
                <div class="col-sm-3 portfolio-item">
                    <a href="#pythonRideModal" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img style="align-content: center" src="images/projects/pythonlogo.jpg" class="img-responsive" alt="">
                    </a>
                    <div>
                        <p align="center">Robot Framework using RIDE </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Team Grid Section -->
    <section class="success" id="team">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Coordinators</h2>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 portfolio-item">
                    <img src="images/portfolio/danielamorim.jpg" class="img-responsive center-block" alt="">
                    <hr/>
                    <p style="text-align: center">Daniel De Amorim<br /> QA Community Sponsor</p>
                </div>
                <div class="col-sm-3 portfolio-item">
                    <img src="images/portfolio/didaclopez.jpg" class="img-responsive center-block" alt="">
                    <hr />
                    <p style="text-align: center">Dídac López<br />QA Community Leader</p>
                </div>
                <div class="col-sm-3 portfolio-item">
                    <img src="images/portfolio/juanserna.jpg" class="img-responsive center-block" alt="">
                    <hr />
                    <p style="text-align: center">Juan Serna Jaén<br />Coordinator</p>
                </div>
                <div class="col-sm-3 portfolio-item">
                    <img src="images/portfolio/aleixmartinez.png" class="img-responsive center-block" alt="">
                    <hr />
                    <p style="text-align: center">Aleix Martinez<br />Coordinator</p>
                </div>
            </div>
            <div>
                <br />
                <br />
                <br />
                <p style="font-size: 22px">If you want to be a speaker, please concat with us at <a href="https://www.meetup.com/es-ES/Barcelona-QA-Meetup/" style="color: snow; text-decoration: underline">Barcelona QA Meetup</a></p>
            </div>
        </div>
    </section>
    <!-- Next Meeting Section -->
    <section id="meeting">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Next Meeting</h2>
                    <hr>
                </div>
            </div>
            <div>
                <p style="text-align: center; font-weight: bold">Agile Tester 3.0</p>
            </div>
            <div>
                <p style="align-content: center">Daniel Ricardo de Amorim va a presentar su charla sobre el QA Ágil 3.0.</p>
                <p style="align-content: center">En su experiencia trabajando en equipos ágiles ha tenido la oportunidad de ejecutar
                                                 distintas tareas como QA y le gustaría compartir su punto de vista.</p>
                <p style="align-content: center">Actualmente Daniel trabaja en Barcelona para ERNI Consulting como QA Lead donde continúa
                                                 aplicando sus conocimientos de QA Ágil en los proyectos que trabaja</p>
                <br />
            </div>
            <div>
                <p style="font-weight: bold">Date: </p><p>14/09/2017, 19:30</p>
                <br />
                <p style="font-weight: bold">Place: </p><p>Carrer de Roc Boronat 117, 8ª Planta - ThoughtWorks Barcelona</p>
                <br />
                <p style="font-weight: bold">Meetup: </p><p><a href="https://www.meetup.com/es-ES/Barcelona-QA-Meetup/events/242433495/" target="_blank">Barcelona QA Meetup</a></p>
            </div>
        </div>
    </section>
    <!-- Sponsors Section -->
    <section class="success" id="sponsors">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Sponsors</h2>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 portfolio-item">
                    <a href="https://www.erni-consultants.com/" target="_blank"><img src="images/sponsors/erni.png" class="img-responsive center-block" alt=""/></a>
                    <hr />
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="https://www.thoughtworks.com/" target="_blank"><img src="~/images/sponsors/thoughtworks.jpg" class="img-responsive center-block" alt="" /></a>
                    <hr />
                </div>
            </div>
        </div>
    </section>
    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <h3>Location</h3>
                        <p>
                            ERNI
                            <br>Edificio El Triangle
                            <br>Plaza Catalunya, 08002 Barcelona
                        </p>
                    </div>
                    <div class="footer-col col-md-4">
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>About Barcelona QA Community</h3>
                        <p>
                            Barcelona QA Community is a group of software testers from Barcelona.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; Barcelona QA Community 2017
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>
    
    <!-- Portfolio Modals -->
    @Html.Partial("_SeleniumBasic")
    
    @Html.Partial("_SeleniumPythonDojo")
    
    @Html.Partial("_PythonRide")

    @Html.Partial("_Appium")

</div>

