@{
    ViewData["Title"] = "Home Page";
}

<!-- Navigation -->
<div id="page-top" class="index">
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="#page-top">ERNI QA Community</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#portfolio">Projects</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#team">Team</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#meeting">Next Meeting</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="images/home_qa_icon.png" alt="">
                    <div class="intro-text">
                        <span class="name">ERNI QA Community</span>
                        <hr>
                        <span class="skills">ERNI Community for software testers to learn and improve QA skills together</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Projects</h2>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 portfolio-item">
                    <a href="#seleniumBasicModal" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img style="align-content: center" src="images/projects/seleniumlogo.png" class="img-responsive" alt="">
                    </a>
                    <div>
                        <p align="center">Selenium WebDriver basic training</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Team Grid Section -->
    <section class="success" id="team">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Team</h2>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 portfolio-item">
                    <img src="images/portfolio/danielamorim.jpg" class="img-responsive" alt="">
                    <p style="text-align: center">Daniel De Amorim<br /> QA Community Sponsor / Leader</p>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <img src="images/portfolio/juanserna.jpg" class="img-responsive" alt="">
                    <p style="text-align: center">Juan Serna Jaén<br />Subject material expert</p>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <img src="images/portfolio/didaclopez.jpg" class="img-responsive" alt="">
                    <p style="text-align: center">Dídac López<br />Subject material expert</p>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <img src="images/portfolio/aleixmartinez.jpg" class="img-responsive" alt="">
                    <p style="text-align: center">Aleix Martinez<br />Subject material expert</p>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <img src="images/portfolio/default-user.jpg" class="img-responsive" alt="">
                    <p style="text-align: center">Name LastName <br />Subject material expert</p>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <img src="images/portfolio/default-user.jpg" class="img-responsive" alt="">
                    <p style="text-align: center">Name LastName <br />Subject material expert</p>
                </div>
            </div>
        </div>
    </section>
    <!-- Next Meeting Section -->
    <section id="meeting">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Next Meeting</h2>
                    <hr>
                </div>
            </div>
            <div>
                <p style="text-align: center; font-weight: bold">Erni Esp QA Community - Kickoff</p>
            </div>
            <div>
                <p>We are going to have a Kick-off meeting where we will define all career paths based on the expectations from all QAs in Erni.</p>
            </div>
            <div>
                <p>For each career path we will have a list of trainings to improve your skills and increase the number of opportunities you can have given the path you chose.</p>
                <p>We will find the SME(Subject material expert) for each needed training. This person will be responsible for creating the training content and for giving this training to all people that require it.</p>
            </div>
            <div>
                <p style="font-weight: bold">Date: </p><p>27/10/2016, 18:30 to 21:30</p>
                <p style="font-weight: bold">Place: </p><p>Meetingroom BCN, Gaudí (Big one, no window); Meetingroom BCN, Mercè Rodoreda (Big one, window)</p>
            </div>
        </div>
    </section>
    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <h3>Location</h3>
                        <p>
                            Edificio El Triangle
                            <br>Plaza Catalunya, 08002 Barcelona
                        </p>
                    </div>
                    <div class="footer-col col-md-4">
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>About ERNI QA Community</h3>
                        <p>
                            ERNI QA Community is a group of software testers from ERNI Company.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; ERNI 2016
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>
    
    <!-- Portfolio Modals -->
    @Html.Partial("_SeleniumBasic")

</div>

