<!-- Selenium Basic Modal -->
<div class="portfolio-modal modal fade" id="seleniumBasicModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Selenium WebDriver basic training</h2>
                        <hr>
                        <img src="images/projects/seleniumlogo.png" class="img-responsive img-centered" alt="">
                        <p align="left">
                            Selenium is a set of different software tools each with a different approach to supporting test automation. Selenium WebDriver is the future direction of the project and the newest addition to the Selenium toolkit. This brand new automation tool provides all sorts of awesome features, including a more cohesive and object oriented API as well as an answer to the limitations of the old implementation.
                        </p>
                        <hr>
                        <div align="left">
                            <p>
                                In this course, we will learn the basics about Selenium WebDriver:
                            </p>
                            <p>
                                - Create an Automation Test project.
                            </p>
                            <p>
                                - Make a basic test examples.
                            </p>
                            <p>
                                - Assert the expected result with the real result.
                            </p>
                        </div>
                        <hr>
                        <div align="left">
                            <p>
                                <strong>Requirements</strong>
                            </p>
                            <p>
                                - Visual Studio <a href="https://www.visualstudio.com/free-developer-offers/">Community Edition</a>.
                            </p>
                        </div>
                        <ul class="list-inline item-details">
                            <li>
                                Code:
                                <strong>
                                    <a href="http://startbootstrap.com">ERNI QA Github</a>
                                </strong>
                            </li>
                            <li>
                                Date:
                                <strong>
                                    February 2014
                                </strong>
                            </li>
                            <li>
                                Service:
                                <strong>
                                    QA Development
                                </strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
