<!-- Appium with Cloud Test Modal -->
<div class="portfolio-modal modal fade" id="appiumModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Appium architecture with Cloud Testing</h2>
                        <hr>
                        <img src="~/images/projects/appiumLogo.png" class="img-responsive img-centered" alt="">
                        <p align="left">
                            Learn how to automate mobile applications with <a href="http://appium.io/" target="_blank">Appium</a> using <a href="https://saucelabs.com/" target="_blank">Sauce Labs</a>.
                        </p>
                        <hr>
                        <div align="left">
                            <p>
                                We are going to show a real example and we are going to use Appium to create and run our tests using emulators through Android Studio and real devices.
                            </p>
                            <p>
                                As we think that this is not enough, we are going to make it more interesting running everything on a cloud platform which enables us to run our tests against any kind of device emulated or real.
                            </p>
                            <p>
                                3-layer architecture (bussines layer, implementation layer and container layer).
                            </p>
                            <p>
                                <a href="https://github.com/BarcelonaQACommunity/AppiumAutomationFramework" target="_blank">Appium automation framework GitHub</a>
                            </p>
                        </div>
                        <hr>
                        <div align="left">
                            <p>
                                <strong>Requirements</strong>
                            </p>
                            <p>
                                - <a href="https://www.visualstudio.com" target="_blank">Visual Studio 2017</a>.
                            </p>
                            <p>
                                - <a href="http://appium.io/" target="_blank">Appium</a>.
                            </p>
                            <p>
                                - <a href="https://saucelabs.com/" target="_blank">Sauce Labs</a>.
                            </p>
                        </div>
                        <ul class="list-inline item-details">
                            <li>
                                Code:
                                <strong>
                                    <a href="https://github.com/BarcelonaQACommunity" target="_blank">Barcelona QA Github</a>
                                </strong>
                            </li>
                            <li>
                                Date:
                                <strong>
                                    June 2017
                                </strong>
                            </li>
                            <li>
                                Service:
                                <strong>
                                    QA Development
                                </strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>