<!-- Selenium Pyton Dojo Modal -->
<div class="portfolio-modal modal fade" id="pythonDojoBasicModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Robot Framework with Python</h2>
                        <hr>
                        <img src="images/projects/pythonlogo.jpg" class="img-responsive img-centered" alt="">
                        <p align="left">
                            Learn how to start with <a href="http://robotframework.org/" target="_blank">Robot Framework</a> using Python.
                        </p>
                        <hr>
                        <div align="left">
                            <p>
                                In this course, we will learn the basics about Robot Framework:
                            </p>
                            <p>
                                - Create an Automation Test project with Python.
                            </p>
                            <p>
                                - Make a basic test Scenarios (using Gherkins).
                            </p>
                            <p>
                                - Assert the expected result with the real result.
                            </p>
                            <p>
                                <a href="https://github.com/BarcelonaQACommunity/RobotFrameworkBasic" target="_blank">Selenium Python Dojo GitHub</a>
                            </p>
                        </div>
                        <hr>
                        <div align="left">
                            <p>
                                <strong>Requirements</strong>
                            </p>
                            <p>
                                - <a href="https://www.python.org/" target="_blank">Python 2</a>.
                            </p>
                            <p>
                                - <a href="https://www.sublimetext.com/" target="_blank">Sublime</a>
                            </p>
                        </div>
                        <ul class="list-inline item-details">
                            <li>
                                Code:
                                <strong>
                                    <a href="https://github.com/BarcelonaQACommunity" target="_blank">Barcelona QA Github</a>
                                </strong>
                            </li>
                            <li>
                                Date:
                                <strong>
                                    February 2017
                                </strong>
                            </li>
                            <li>
                                Service:
                                <strong>
                                    QA Development
                                </strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>