<!-- Selenium Api testing with SQL Modal -->
<div class="portfolio-modal modal fade" id="seleniumapisqlModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Appium architecture with Cloud Testing</h2>
                        <hr>
                        <img src="~/images/projects/seleniumlogo.png" class="img-responsive img-centered" alt="">
                        <p align="left">
                            In this session Joan Calmet and Emilio Agut will present their experience with API Testing.
                        </p>
                        <hr>
                        <div align="left">
                            <p>
                                API: web API, we write directly requests to the back-end layer.
                            </p>
                            <p>
                                DB: mySQL
                            </p>
                            <p>
                                Web: selenium web driver.
                            </p>
                            <p>
                                <a href="https://bitbucket.org/sereifen/fullstacktesting" target="_blank">Selenium API with SQL GitHub</a>
                            </p>
                        </div>
                        <hr>
                        <div align="left">
                            <p>
                                <strong>Requirements</strong>
                            </p>
                            <p>
                                - <a href="https://www.jetbrains.com/idea/" target="_blank">IntelliJ IDEA</a>.
                            </p>
                        </div>
                        <ul class="list-inline item-details">
                            <li>
                                Code:
                                <strong>
                                    <a href="https://github.com/BarcelonaQACommunity" target="_blank">Barcelona QA Github</a>
                                </strong>
                            </li>
                            <li>
                                Date:
                                <strong>
                                    October 2017
                                </strong>
                            </li>
                            <li>
                                Service:
                                <strong>
                                    QA Development
                                </strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>